a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
h1 {
    color: #4a69bb;
}

.card {
    width: 16rem;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
}

.row {
    padding: 1%;
}

#confirmed {
    border-bottom-color: #d6ecfb;
}

#recovered {
    border-bottom-color: #dbf3f3;
}

#deaths {
    border-bottom-color: #ffe0e6;
}

.card h6 {
    color: #32afa9;
}
