<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="/">
                <h1>Coronavirus Tracker Application</h1>
            </a>
            <p>This application lists the current number of cases reported across the globe.
                This app uses the
                <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">
                    JHU CSSE COVID-19 Dataset</a>, which is updated once per day between 04:45 and 05:15 UTC.
            </p>
        </div>

        <div class="row">
            <form th:action="@{/}" th:object="${countrySelected}" method="post">
                <select class="form-control" id="country" name="country" onchange="this.form.submit()">
                    <option th:each="country : ${countrySelector}" th:value="${country}" th:text="${country}" th:selected="${country == countrySelected.getCountry()}"></option>
                </select>
            </form>
        </div>
        <script th:inline="javascript">

        </script>

        <div class="row">
            <div class="col-sm">
                <div id="confirmed" class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle">Confirmed cases</h6>
                        <h3 class="card-title" th:text="${#numbers.formatDecimal(confirmedSummary, 0, 'COMMA', 0, 'POINT')}"/>
                        <h6 class="card-subtitle" th:text="${latestDate}"></h6>
                        <p class="card-text">Total number of confirmed cases reported as of <span th:text="${latestDate}"/>.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div id="recovered" class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle">Recovered cases</h6>
                        <h3 class="card-title" th:text="${#numbers.formatDecimal(recoveredSummary, 0, 'COMMA', 0, 'POINT')}"/>
                        <h6 class="card-subtitle" th:text="${latestDate}"></h6>
                        <p class="card-text">Total number of recovered cases reported as of <span th:text="${latestDate}"/>.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div id="deaths" class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle">Deceased cases</h6>
                        <h3 class="card-title" th:text="${#numbers.formatDecimal(deathsSummary, 0, 'COMMA', 0, 'POINT')}"/>
                        <h6 class="card-subtitle" th:text="${latestDate}"></h6>
                        <p class="card-text">Total number of deceased cases reported as of <span th:text="${latestDate}"/>.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <canvas class="col-sm" id="countryChart" width="300" height="200"></canvas>
            <script th:if="${country.size() <= 1}" th:inline="javascript">
                // Bar chart
                var dataset = [];
                dataset[0] = /*[[${confirmedGraph.get(0)}]]*/ 'default';
                dataset[1] = /*[[${recoveredGraph.get(0)}]]*/ 'default';
                dataset[2] = /*[[${deathsGraph.get(0)}]]*/ 'default';
                new Chart(document.getElementById("countryChart"), {
                    type: 'bar',
                    data: {
                        labels: ['Confirmed', 'Recovered', 'Deceased'],
                        datasets: [
                            {
                                label: "Number of Cases",
                                data: dataset,
                                backgroundColor: ["#d6ecfb", "#dbf3f3","#ffe0e6"],
                                borderColor: ["#4cacec", "#60c8c8", "#ff7693"],
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
            <script th:if="${country.size() > 1}" th:inline="javascript">
                var ctx = document.getElementById('countryChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: /*[[${country}]]*/ 'default',
                        datasets: [
                            {
                                label: 'Confirmed Cases',
                                data: /*[[${confirmedGraph}]]*/ 'default',
                                backgroundColor: '#d6ecfb',
                                minBarLength: 100,
                            },
                            {
                                label: 'Recovered Cases',
                                data: /*[[${recoveredGraph}]]*/ 'default',
                                backgroundColor: '#dbf3f3',
                                minBarLength: 100,
                            },
                            {
                                label: 'Deceased Cases',
                                data: /*[[${deathsGraph}]]*/ 'default',
                                backgroundColor: '#ffe0e6',
                                minBarLength: 100,
                            }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>



        <div class="row table-responsive">
            <table class="col-sm table table-striped table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th th:each="header : ${tableHeaders}" th:text="${header}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${tableRows}">
                        <td th:text="${row.state}"></td>
                        <td th:text="${row.country}"></td>
                        <td th:text="${#numbers.formatDecimal(row.confirmed, 0, 'COMMA', 0, 'POINT')}">0</td>
                        <td th:text="${#numbers.formatDecimal(row.recovered, 0, 'COMMA', 0, 'POINT')}">0</td>
                        <td th:text="${#numbers.formatDecimal(row.deaths, 0, 'COMMA', 0, 'POINT')}">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>